
@import "base/reset";
@import "base/fonts";
@import "base/common";
@import "vendor/accordeon";
@import "../node_modules/magnific-popup/dist/magnific-popup";
.container{
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

.header{
    position: absolute;
    width: 100%;
    z-index: 1;
    &__container{
        padding-top: 50px;
    }
    &__logo{
        margin-left: 55px;
    }
    &__menu{
        float: right;
        margin-right: 54px;
        &-item{
            margin: 0 0px;
            display: inline-block;


            a{
                transition: 0.5s;
                padding: 5px 29px;
                color: #dedede;
                font-family: "Wuerth - Book";
                font-size: 16px;
                font-weight: 300;
                color: #dedede;
                display: inline-block;
                &:hover, &:active{
                    color: $red;
                }
                &.gift{
                    border: 1px solid $red;
                    border-radius: 5px;
                    &:hover, &:active{
                        background: #ffe6e6;
                    }
                }
            }
        }
    }
}

.top{
    background: $black;
    &__container{
        background: url("../img/top-bg.jpg") no-repeat;
        background-position: 56px top;
        height: 620px;
    }
    &__content{
        position: absolute;
        right: 144px;
        top: 141px;
        bottom:0;
        width: 380px;
        height: 350px;
    }
    &__subheader{
        color: #ffffff;
        font-family: "Wuerth - Book";
        font-size: 24px;
        font-weight: 300;
    }
    &__header{
        color: #ffffff;
        font-family: "Wuerth - Extra Bold Cond";
        font-size: 34px;
        font-weight: 700;
        line-height: 43px;
        margin: 16px 0 30px 0;
        text-transform: uppercase;
    }
    &__agreement-text{
        width: 437px;
        height: 30px;
        color: #fff;
        font-family: 'Wuerth - Book';
        font-size: 9pt;
        font-weight: 300;
        margin: 29px 0 17px 4px;
        line-height: 15px;
    }
    &__gift-icon{
        position: absolute;
        width: 71px;
        height: 71px;
        border-radius: 50%;
        box-shadow: 0 10px 7px rgba(0, 0, 0, 0.5);
        background: url("../img/gift-icon.svg") no-repeat $red 50% 50%;
        top: 269px;
        left: 606px;
    }
    &__promokod-info{
        color: #ffffff;
        font-family: "Wuerth Bold";
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        margin: 20px 0;
    }
}

.shop{
    .drop{
        position: absolute;
        &--1{
            transform: rotate(26deg);
            left: 94px;
            top: 360px;
            width: 69px;
            height: 73px;
        }
        &--2{
            left: 133px;
            top: 436px;
            z-index: 2;
        }
        &--3{
            right: 109px;
            top: 331px;
            z-index: 2;
            transform: rotate(-54deg);
        }
        &--4{
            right: 56px;
            top: 301px;
        }
        &--5{
            right: 99px;
            top: 184px;
        }
        &--6{
            left: 137px;
            top: 697px;
            z-index: 2;
        }
        &--7{
            left: 117px;
            top: 745px;
        }

    }
    &__row{
        padding: 0 155px;
        &--1{
            margin-top: -36px;
        }
        &--2{
            margin-top: 30px;
        }
    }

    .card{
        transition: 0.5s;
        float: left;
        position: relative;
        border-radius: 4px;
        background-color: #f7f7f7;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        &:hover{
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        }
        &__label{
            position: absolute;
            top: 24px;
            right: 20px;
            width: 106px;
            line-height: 25px;
            border-radius: 4px;
            background-color: #cc0000;color: #ffffff;
            font-family: "Wuerth Bold";
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            box-shadow: 0 13px 9px rgba(69, 69, 69, 0.5);

        }
        &__content-wrapper{
            padding: 8px 24px 18px;
        }
        &__image-wrapper{
            text-align: center;
            padding: 38px 90px 10px 72px;
        }
        &__article{
            color: #979797;
            font-family: "Wuerth - Book";
            font-size: 14px;
            font-weight: 300;
        }
        &__title{
            color: #333333;
            font-family: "Wuerth Bold";
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 10px 0;
            line-height: 24px;
        }
        &__description{
            color: #333333;
            font-family: "Wuerth - Book";
            font-size: 18px;
            font-weight: 300;
            line-height: 20px;
        }
        &__price{
            color: $red;
            font-family: "Wuerth - Extra Bold Cond";
            font-size: 32px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &__price-block{
            margin-top: 20px;
        }
        &__rouble{
            color: $red;
            font-weight: 400;
            font-family: 'Roboto';
            font-size: 32px;
        }
        &__size{
            margin-left: 15px;
            border-radius: 4px;
            background-color: #dedede;
            color: #605d5c;
            font-family: "Wuerth - Book";
            font-size: 22px;
            font-weight: 400;
            padding: 4px 7px ;
            vertical-align: super;
        }
        &__buy-block{
            margin-top: 38px;
        }

        &--1{
            background: url("../img/card-1-bg.png") #f7f7f7 no-repeat;
            .card__price-block {
                margin-top: 24px;
            }
        }
        &--2{
            margin: 0 28px;
        }
        &--5{
            background: url("../img/card-1-bg.png") #f7f7f7 no-repeat right bottom;
            margin-left: 28px;
        }
        &--with-image{
            width: 304px;
            height: 560px;
        }
        &--without-image{
            width: 470px;
            height: 270px;
            .card__article{
                margin-top: 25px;
            }
            .card__title{
                margin: 14px 0;
                line-height: 26px;
            }
            .card__description{
                height: 40px;
            }
            .card__price-block{
                float: left;
                width:40%;
                margin-top: 44px;
            }
            .card__buy-block{
                float: left;
                width:40%;
                margin-top: 44px;
            }
            .card__size{
                vertical-align: unset;
            }
        }
    }
    &__download-wrapper{
        text-align: center;
        margin-top: 51px;
    }
    &__download-link{
        border-radius: 4px;
        color: $red;
        font-family: "Wuerth Bold";
        font-size: 16px;
        font-weight: 700;
        background: url(../img/download-icon.svg) 23px 50% no-repeat #eee;
        padding: 9px 10px 9px 50px;
    }
}

.certificates{
    padding-top: 50px;
    &__container{
        background: linear-gradient(1deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%) top center, url("../img/certificates-bg.png") no-repeat -50px 120px;
        position: relative;
        height: 712px;
    }
    &__content{
        position: absolute;
        left: 156px;
        top: 86px;
        width: 470px;
        height: 287px;
    }
    &__header{
        color: #333333;
        font-family: "Wuerth Bold";
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 43px;
        width: 470px;
        margin-bottom: 20px;
    }
    &__text{
        color: #333333;
        font-family: "Wuerth - Book";
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        width: 470px;
        height: 190px;
    }
    &__gallery{
        position: absolute;
        right: 50px;
        top: 70px;
        width: 540px;
        height: 503px;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 0, 0, 0.35);
        border-radius: 13px;
        padding: 40px 20px;
        overflow: hidden;
    }
}

.advantages{
    text-align: center;
    background: #f7f7f7;
    padding-top: 120px;
    padding-bottom: 140px;
    &__logo-wrapepr{
        margin-bottom: 15px;
    }
    &__header{
        margin: 29px 0 22px;
        color: #333333;
        font-family: "Wuerth - Bold";
        font-size: 32px;
        font-weight: 700;
    }
    &__subheader{
        color: #959595;
        font-family: "Wuerth - Book";
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 50px;
    }
    &__items{
        @include clearfix();
        padding: 0px 255px;
    }
    &__item{
        float: left;
        width: 192px;
        &--1{
            padding-right: 22px;
        }
        &--3{
            padding-left: 16px;
            img{
                margin-top: -5px;
            }
        }
        &--4{
            padding-left: 28px;
            img{
                margin-top: -7px;
            }
        }
    }
    &__icon-wrapper{
        height: 68.5px;
    }
    &__description{
        margin-top: 14px;
        color: #605d5c;
        font-family: "Wuerth - Book";
        font-size: 18px;
        font-weight: 300;
        line-height: 20px;
    }

}

.autosport{
    &__container{
        height: 588px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 70%, #ffffff 100%) center right,url(../img/autosport-bg.png) no-repeat #fff top right;
        background-position-y: -10px;
    }
    &__logo{
        img{
            margin-left: 0px;
            margin-top: -3px;
        }
    }
    &__row{
        padding: 103px 155px 107px;
    }
    &__content{
        overflow: hidden;
        height: 400px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
    }
    &__text{
        background: $black;
        color: $white;
        float: left;
        width: 485px;
        height: 400px;
        text-align: center;
        padding: 60px 0;
        padding-right: 25px;
    }
    &__header{
        margin-top: 34px;
        color: #ffffff;
        font-family: "Wuerth Bold";
        font-size: 28px;
        line-height: 31px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__penske-wrapper{
        margin: 32px 0 22px;
    }
    &__subheader{
        color: #ffffff;
        font-family: "Wuerth - Book";
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
    }
    &__img{
        float: left;
        width: 485px;
        height: 400px;
    }
}

.gift{
    position: relative;
    &__container{
        height: 600px;
        margin-top: 22px;
        background: url("../img/gift-bg.png") no-repeat 57px top $white;
    }
    &__promokod-info{
        color: #605d5c;
        font-family: "Wuerth Bold";
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        width: 369px;
        margin-top:50px;
        margin-bottom: 60px;
    }
    .gift-info{
        &__icon{
            position: absolute;
            left: 61px;
            top: -3px;
        }
        &__header{
            position: absolute;
            left: 154px;
            top:48px;
            width: 156px;
            height: 73px;
            color: $red;
            font-family: "Wuerth Bold";
            font-size: 28px;
            font-weight: 700;
            line-height: 30px;
        }
        &__content{
            position: absolute;
            left: 355px;
            top: 46px;
            width: 321px;
            height: 156px;
            color: #333333;
            font-family: "Wuerth - Book";
            font-size: 18px;
            font-weight: 300;
            line-height: 26px;
            li{
                list-style: disc ;
            }
        }
        &__condition{
            position: absolute;
            bottom: 29px;
            left: 59px;
            color: #666666;
            font-family: "Wuerth - Book";
            font-size: 18px;
            font-weight: 300;
            line-height: 20px;
        }
    }

    &__form{
        height: 636px;
        box-shadow: 0 2px 11px rgba(0, 0, 0, 0.5);
        border-radius: 5px 0 0 5px;
        background-color: #ffffff;
        width: calc(50% - 88px);
        position: absolute;
        left: calc(50% + 88px);
        top: -16px;
        padding-left: 30px;
        padding-top: 94px;
        padding-right: 30px;
    }
    .gift-form{
        &__header{
            color: $red;
            font-family: "Wuerth Bold";
            font-size: 28px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 43px;
        }

        &__step{
            position: relative;
            padding-left: 27px;
            margin: 26px 0;
            width: 400px;
            color: #605d5c;
            font-family: "Wuerth Bold";
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            &--1{
                &:before{
                    width: 20px;
                    height: 26px;
                    color: #cc0000;
                    font-family: "Wuerth Bold";
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 26px;
                    position: absolute;
                    top: -5px;
                    left: 0px;
                    content: "1.";
                }
            }
            &--2{
                &:before{
                    width: 20px;
                    height: 26px;
                    color: #cc0000;
                    font-family: "Wuerth Bold";
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 26px;
                    position: absolute;
                    top: -5px;
                    left: 0px;
                    content: "2.";
                }
            }
        }
        &__btn{
            margin-top: 34px;
        }
        &__agreement-text{
            margin-top: 20px;
            width: 437px;
            color: #605d5c;
            font-family: "Wuerth - Book";
            font-size: 12px;
            font-weight: 300;
            line-height: 17px;
        }


    }
}

.adresses{
    @include clearfix();
    background: url("../img/adresses-bg-1.png") no-repeat left top;
    min-height: 1035px;
    padding-top: 243px;
    &__title{
        height: 80px;
        color: #333333;
        font-family: "Wuerth Bold";
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 130px;
        text-align: center;
        line-height: 39px;
    }
    &__container-wrapper{
        min-height: 580px;
        background: $black;
    }
    &__container{
        min-height: 580px;
        padding: 0 226px;
        background: url("../img/adresses-bg-3.png") no-repeat left top $black;
    }
    &__content{
        @include clearfix();
        background: #f7f7f7;
        width: 830px;
        min-height: 716px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        background-color: #f7f7f7;
        margin-top: -69px;
        padding: 56px;
        position: absolute;
        top: 0;
        .spb{
            float: left;
            width: 385px;
            &__title{
                color: #333333;
                font-family: "Wuerth Bold";
                font-size: 18px;
                font-weight: 700;
            }
        }

        .adress-item{
            margin:20px 0;
            &__metro{
                font-family: "Wuerth Bold";
                font-weight: 700;
                color: #333333;
            }
            &__adress,&__phone,&__email{
                font-family: "Wuerth - Book";
                font-size: 16px;
                font-weight: 300;
                line-height: 23px;
                color: #333333;
            }
            &__map{
                color: #009ee0;
                font-family: "Wuerth - Book";
                font-size: 16px;
                font-weight: 300;
                line-height: 25px;
            }
        }

        .russia{
            float: left;
            width: 332px;
            border-left: 1px solid #dedede;
        }
        .accordion{
            padding-left: 35px;
            &__toggle{
                position: relative;

                color: #333333;
                font-family: "Wuerth Bold";
                font-size: 18px;
                font-weight: 700;
                display: block;
                margin: 31px 0;
                cursor: pointer;
                &:first-of-type{
                    margin: 0
                }
                display: block;
                width: 100%;
            }
            &__content{
                display: none;
                &.open{
                    display: block;
                }
            }
            &__toggle-icon{
                position: absolute;
                right: 29px;
                top: -4px;
                z-index: 0;
            }
        }
    }
}
.map{
    height: 807px;
    background: url("../img/map-bg.png") no-repeat right top;
    padding-top: 270px;
    &__title{
        text-align: center;
        color: #333333;
        font-family: "Wuerth Bold";
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 60px;
    }
    #map{

    }
}
.footer{
    &__container{
        padding-left: 111px;
    }
    a{
        color: $white;
    }
    padding-bottom: 59px;
    padding-top: 51px;
    color: $white;
    background: $black;

    &__header{
        color: #ffffff;
        font-family: "Wuerth Bold";
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    &__info{
        margin-bottom: 15px;
        font-family: "Wuerth - Book";
        font-size: 16px;
        font-weight: 300;
        line-height: 23px;
    }
    .phones{
        &__info{
            margin-bottom: 15px;
            font-family: "Wuerth - Book";
            font-size: 16px;
            font-weight: 300;
            line-height: 23px;
            margin-top: 23px;
        }
    }
    ul{
        li{
            margin: 13px 0;
        }
    }
    &__menu{
        float: left;
        width: 26%;
    }
    &__contacts{
        float: left;
        width: 21.7%;
        &--2{
            padding-top: 31px;
        }
    }

}
.popup{
    /* Style for "Rectangle" */
    width: 700px;
    height: 535px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;
    padding-top: 47px;
    .btn{
        display: inline-block;
        font-size: 1pc;
        line-height: 50px;
        margin: 0 !important;
    }
    .mfp-close{
        display: none;
    }
    &__close{
        right: 0;
        top:0;
        width: 50px;
        height: 50px;
        position: absolute;
        cursor: pointer;
        background: url("../img/close-popup-icon.svg") no-repeat 50% 50% ;
    }
    &__header{
        color: $red;
        font-family: "Wuerth - Extra Bold Cond";
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        text-transform: uppercase;
        margin-top: 37px;
        margin-bottom: 18px;
    }
    &__subheader{
        color: #605d5c;
        font-family: "Wuerth Bold";
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 40px;
    }
    &__grey{
        height: 217px;
        background-color: #eeeeee;
    }
    &__buttons{
        padding: 40px 0;

    }
}