
@import "base/reset";
@import "base/fonts";
@import "../node_modules/slick-carousel/slick/slick.scss";
@import "../node_modules/magnific-popup/dist/magnific-popup";
@import "base/common";
.container{
    width: 100%;
    position: relative;
}

.header{
    position: absolute;
    width: 100%;
    z-index: 1;
    &__container{
        padding-top: 20px;
    }
    &__logo{
        margin-left: 8px;
        width: 96px;
        height: 21px;
    }
    &__menu-icon{
        float: right;
        width: 24px;
        height: 19px;
        display: inline-block;
        margin-right: 8px;
    }
    &__gift-link{
        transition: .5s;
        margin: 0 18px;
        padding: 4px 20px;
        font-family: 'Wuerth - Book';
        font-size: 12px;
        font-weight: 300;
        color: #dedede;
        display: inline-block;
        border: 1px solid $red;
        border-radius: 5px;
        vertical-align: top;
        &:hover{
            color: $red;
            background: #ffe6e6;
        }
    }
    &__menu{
        display: none;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.8;
        position: fixed;
        left:0;
        right: 0;
        top: 0;
        bottom: 0;
        &-list{
            text-align: center;
            margin-top: 55px;
        }
        &-link{
            color: #dedede;
            font-family: "Wuerth Book";
            font-size: 22px;
            font-weight: 300;
            line-height: 44px;
            &:hover, &.active{
                color: $white;
            }
        }
        &.open{
            display: block;
        }
        &-close{
            background: url("../img/close-icon.svg") no-repeat center center;
            position: absolute;
            top: 0;
            right: 0;
            width: 35px;
            height: 35px;
        }

    }

}

.top{
    background: $black;
    &__container{
        background: url("../img/top-bg-mobile.jpg") no-repeat;
        background-position: left top;
        height: 657px;
        background-size: contain;
        @media  (min-width: 340px){
            background-size: cover;
        }
    }
    &__content{
        position: absolute;
        right: 0px;
        left: 0px;
        padding: 0 25px;
        top: 340px;
        width: 100%;
        height: 250px;
    }
    &__subheader{
        color: #ffffff;
        font-family: "Wuerth Book";
        font-size: 16px;
        font-weight: 300;
    }
    &__header{
        color: #ffffff;
        font-family: "Wuerth - Bold";
        font-size: 19px;
        font-weight: 700;
        line-height: 24px;
        margin: 10px 0;
        text-transform: uppercase;
    }
    &__agreement-text{
        color: #ffffff;
        font-family: "Wuerth Book";
        font-size: 10px;
        font-weight: 300;
    }
    &__gift-icon{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0 10px 7px rgba(0, 0, 0, 0.5);
        background: url("../img/gift-icon.svg") no-repeat $red 50% 50%;
        background-size: 30px;
        top: 163px;
        right: 25px;
    }
    &__promokod-info{
        color: #ffffff;
        font-family: "Wuerth Book";
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        margin: 10px 0;
    }
}

.shop{
    &__container{
        margin-top: -50px;
        padding: 0 8px;
    }
    .slick{
        &__btn{
            top:36%;
            &--prev{
                left: 0px;
            }
            &--next{
                right: 0px;
            }
        }
    }
    .card{
        width: 100%;
        position: relative;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        background: url("../img/card-1-bg.png") #f7f7f7 no-repeat;
        background-size: contain;
        overflow: hidden;
        &__label{
            position: absolute;
            top: 28px;
            right: 29px;
            width: 106px;
            line-height: 25px;
            border-radius: 4px;
            background-color: #cc0000;color: #ffffff;
            font-family: "Wuerth Bold";
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            box-shadow: 0 13px 9px rgba(69, 69, 69, 0.5);

        }
        &__content-wrapper{
            padding: 19px 24px
        }
        &__image-wrapper{
            text-align: center;
            padding: 38px 90px 10px 70px;
        }
        &__article{
            color: #979797;
            font-family: "Wuerth - Book";
            font-size: 14px;
            font-weight: 300;
        }
        &__title{
            color: #333333;
            font-family: "Wuerth Bold";
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 10px 0;
        }
        &__description{
            min-height: 40px;
            color: #333333;
            font-family: "Wuerth - Book";
            font-size: 18px;
            font-weight: 300;
            line-height: 20px;
        }
        &__price{
            color: $red;
            font-family: "Wuerth - Extra Bold Cond";
            font-size: 32px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &__price-block{
            margin-top: 20px;
        }
        &__rouble{
            color: $red;
            font-weight: 400;
            font-family: 'Roboto';
            font-size: 32px;
        }
        &__size{
            margin-left: 15px;
            border-radius: 4px;
            background-color: #dedede;
            color: #605d5c;
            font-family: "Wuerth - Book";
            font-size: 22px;
            font-weight: 400;
            padding: 4px 7px ;
            vertical-align: super;
        }
        &__buy-block{
            margin-top: 40px;
        }

    }
    &__download-wrapper{
        text-align: center;
        background: #eee;
        padding: 14px 0;
        margin: 15px 8px 46px;
        border-radius: 4px;
    }
    &__download-link{
        border-radius: 4px;
        color: #c00;
        font-family: Wuerth Bold;
        font-size: 14px;
        font-weight: 700;
        background: url(../img/download-icon.svg) 9px 100% no-repeat;
        padding: 9px 10px 9px 35px;
    }
}

.certificates{
    .slick{
        &__btn{
            top:41%;
            &--prev{
                left: -38px;
            }
            &--next{
                right: -38px;
            }
        }
    }
    padding-top: 10px;
    &__container{
        background: url("../img/certificates-bg-mobile.png") no-repeat center bottom;
        position: relative;
        height: 606px;
    }
    &__content{

    }
    &__header{
        text-align: center;
        color: #333333;
        font-family: "Wuerth - Bold";
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 7px;
    }
    &__text{
        text-align: center;
        color: #333333;
        font-family: "Wuerth Book";
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: 0.2px;
    }
    &__gallery{
        margin: 15px 48px;
        padding: 12px 15px;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 0, 0, 0.35);
        border-radius: 13px;
        padding: 40px 20px;

    }
}

.advantages{
    text-align: center;
    padding-top: 14px;

    &__logo{
        width: 58px;
    }
    &__header{
        margin: 0px 0;
        color: #333333;
        font-family: "Wuerth - Bold";
        font-size: 20px;
        font-weight: 700;
    }
    &__subheader{
        color: #959595;
        font-family: "Wuerth Book";
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    &__items{
        @include clearfix();
    }
    &__item{
        margin: 25px 0;
        float: none;
        width: 100%;
    }
    &__icon-wrapper{
        margin-bottom: 10px;
    }
    &__description{
        color: #605d5c;
        font-family: "Wuerth - Book";
        font-size: 18px;
        font-weight: 300;
        line-height: 20px;
    }

}

.autosport{
    &__container{
        padding: 0 10px;
    }
    &__text{
        background: $black;
        color: $white;
        text-align: center;
        padding: 30px 0;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 8px;
    }
    &__img{
        z-index: 2;
        width: 100%;
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        img{
            min-height: 297px;
            display: block;
            width: 100%;
        }
    }
    &__header{
        margin-top: 33px;
        color: #ffffff;
        font-family: "Wuerth Bold";
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__penske-wrapper{
        margin-top: 29px;
        margin-bottom: 23px;
    }
    &__subheader{
        color: #ffffff;
        font-family: "Wuerth - Bold";
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
    }

}

.gift{
    overflow: hidden;
    position: relative;
    &__promokod-info{
        color: #000000;
        font-family: "Wuerth Book";
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 25px;
    }
    .gift-info{
        height: 435px;
        padding-left: 8px;
        background: linear-gradient(1deg,hsla(0,0%,100%,0) 40%,#fff 70%) center center,url(../img/gift-bg-mobile.png) no-repeat left bottom;
        &__icon{
            position: absolute;
            right: 16px;
            z-index: 0;
            width: 58px;
            top:-75px;
        }
        &__header{
            margin-top:50px;
            width: 221px;
            height: 40px;
            color: $red;
            font-family: "Wuerth Bold";
            font-size: 24px;
            font-weight: 700;
            line-height: 26px;
        }
        &__content{
            margin-top: 15px;
            color: #333333;
            font-family: "Wuerth - Book";
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            padding-left: 15px;
            li{
                list-style: disc ;
            }
        }
    }
    &__form{
        box-shadow: 0 2px 11px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        background-color: #ffffff;
        padding-left: 17px;
        padding-top: 26px;
        padding-right: 17px;
        padding-bottom: 44px;
        margin-top: -20px;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 15px;
    }
    .gift-form{
        &__header{
            color: $red;
            font-family: "Wuerth Bold";
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        &__steps{
            margin:20px 0;
        }
        &__step{
            position: relative;
            padding-left: 25px;
            margin: 5px 0;
            color: #000000;
            font-family: "Wuerth Book";
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            &:before{
                width: 14px;
                height: 13px;
                color: #cc0000;
                font-family: "Wuerth Bold";
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
                position: absolute;
                top: -5px;
                left: 0px;
            }
            &--1{
                &:before {
                    content: "1.";
                }
            }
            &--2{
                &:before{
                    content: "2.";
                }
            }
        }
        &__agreement-text{
            margin-top: 20px;
            width: 100%;
            font-family: "Wuerth - Book";
            color: #000000;
            font-family: "Wuerth Book";
            font-size: 10px;
            font-weight: 300;
        }


    }
}

.adresses{
    &__title{
        color: #333333;
        font-family: "Wuerth - Bold";
        font-size: 20px;
        font-weight: 700;
        margin: 40px 0;
        text-align: center;
    }

    .adress-item{
        margin:20px 0;
        &__metro{
            font-family: "Wuerth Bold";
            font-weight: 700;
            color: #333333;
        }
        &__adress,&__phone,&__email{
            font-family: "Wuerth - Book";
            font-size: 16px;
            font-weight: 300;
            line-height: 23px;
            color: #333333;
        }
        &__map{
            color: #009ee0;
            font-family: "Wuerth - Book";
            font-size: 16px;
            font-weight: 300;
            line-height: 25px;
        }
    }
    .accordion{
        padding:0 35px;
        &__toggle{
            color: #333333;
            font-family: "Wuerth Bold";
            font-size: 18px;
            font-weight: 700;
            display: block;
            margin: 30px 0;
            cursor: pointer;
            &:first-of-type{
                margin: 0
            }
            display: block;
            width: 100%;
        }
        &__content{
            display: none;
            &.open{
                display: block;
            }
        }
        &__toggle-icon{
            float: right;
        }
    }
}

.map{
    padding-top: 50px;
    &__title{
        text-align: center;
        color: #333333;
        font-family: "Wuerth - Bold";
        font-size: 20px;
        font-weight: 700;
        margin: 20px 0;
    }
}

.footer{
    @include clearfix();
    a{
        color: $white;
    }
    padding: 28px 33px 55px;
    color: $white;
    background: $black;
    &__header{
        color: #ffffff;
        font-family: "Wuerth Bold";
        font-size: 12px;
        font-weight: 700;
    }
    &__info{
        margin-bottom: 15px;
        font-family: "Wuerth - Book";
        font-size: 12px;
        font-weight: 300;
        line-height: 23px;
    }
    ul{
        li{
            margin: 7px 0;
        }
    }
    &__menu{
        float: left;
        width: 50%;
    }
    .row{
        &--2{
            margin-top: 20px;
        }
    }
    &__contacts{
        float: left;
        width: 50%;
    }

}
.popup{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    background-color: #ffffff;
    padding-top: 47px;
    .btn{
        display: inline-block;
        margin: 0 15px;
        height: 55px;
        width: calc(100% - 50px);
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        &--gift{
            padding: 9px 0;
        }
        &--red{
            padding: 20px 0;
        }
    }
    .mfp-close{
        display: none;
    }
    &__close{
        right: 0;
        top:0;
        width: 50px;
        height: 50px;
        position: absolute;
        cursor: pointer;
        background: url("../img/close-popup-icon.svg") no-repeat 50% 50% ;
    }
    &__header{
        color: $red;
        font-family: "Wuerth - Extra Bold Cond";
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        text-transform: uppercase;
        margin-top: 37px;
        margin-bottom: 18px;
    }
    &__subheader{
        color: #605d5c;
        font-family: "Wuerth Bold";
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 40px;
    }
    &__grey{
        height: 217px;
        background-color: #eeeeee;
    }
    &__buttons{
        padding: 40px 0;

    }
}
@media  (min-width: 440px){
    .certificates__gallery{
        max-width: 340px;
        margin: 0 auto;
    }
}