@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i&subset=cyrillic,cyrillic-ext');

@font-face {
	font-family: "Wuerth - Extra Bold Cond";
	src: url('../fonts/wurth_font/Wuerth-ExtraBoldCond.eot');
	src: url('../fonts/wurth_font/Wuerth-ExtraBoldCond.eot?#iefix') format('embedded-opentype'),
	url('../fonts/wurth_font/Wuerth-ExtraBoldCond.woff2') format('woff2'),
	url('../fonts/wurth_font/Wuerth-ExtraBoldCond.woff') format('woff'),
	url('../fonts/wurth_font/Wuerth-ExtraBoldCond.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Wuerth - Book";
	src: url('../fonts/wurth_font/Wuerth-Book.eot');
	src: url('../fonts/wurth_font/Wuerth-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/wurth_font/Wuerth-Book.woff2') format('woff2'),
	url('../fonts/wurth_font/Wuerth-Book.woff') format('woff'),
	url('../fonts/wurth_font/Wuerth-Book.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Wuerth Book";
	src: url('../fonts/wurth_font/Wuerth-Book.eot');
	src: url('../fonts/wurth_font/Wuerth-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/wurth_font/Wuerth-Book.woff2') format('woff2'),
	url('../fonts/wurth_font/Wuerth-Book.woff') format('woff'),
	url('../fonts/wurth_font/Wuerth-Book.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Wuerth - Bold";
	src: url('../fonts/wurth_font/Wuerth-Bold.eot');
	src: url('../fonts/wurth_font/Wuerth-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/wurth_font/Wuerth-Bold.woff2') format('woff2'),
	url('../fonts/wurth_font/Wuerth-Bold.woff') format('woff'),
	url('../fonts/wurth_font/Wuerth-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Wuerth Bold";
	src: url('../fonts/wurth_font/Wuerth-Bold.eot');
	src: url('../fonts/wurth_font/Wuerth-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/wurth_font/Wuerth-Bold.woff2') format('woff2'),
	url('../fonts/wurth_font/Wuerth-Bold.woff') format('woff'),
	url('../fonts/wurth_font/Wuerth-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

